a:focus, a:hover, a:active{
	background:none;
}

#logo_site_spip{
	color:#FFF;
	margin-top: 10px;
}
.header .spip_logos{
	margin: 0px 19px 11px 10px;
}

li.nav-search{
	float:right;
}

.header{
	background-color: #1B1B1B;
}

.navbar-wrap{
	background-color: #9B0B00;
}

#nav {
	margin-bottom: 0px;
}

#nav .navbar-inner{
	margin-left:auto;
	margin-right:auto;
	box-shadow: none;
	
}
.navbar-inverse .navbar-inner {
	border-radius: 0px;
	background-color: #9B0B00;
	background-image:none;
	border:none;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a{
	color: #FFF;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover{
background-color: #9E4545;
}

/*Style Manchette*/

.hero-unit .postmeta {
	text-align: right;
}

.hero-unit .spip_logos{
	margin:auto;
	float:none;
}


.footer{
background-color: #1B1B1B;
color: #fff;
text-align: center;
}
.footer a{
color:#777;
}
.footer a:focus, .footer a:hover, .footer a:active{
	color: #fff;
}

/* Lecteur de son */

#canut_player {
	/*position: absolute;
	top: 20px; right: 0px;
	width: 400px;*/
}

#canut_player .infos_sons {
	clear: both;
	overflow: hidden;
	margin: 2rem 0;
}

#canut_player .logo {
	float: left;
	background: #333;
	width: 64px;
	height: 64px;
	margin-right: 1rem;
	position: relative;

	border-radius: 32px;
	overflow: hidden;
}

#canut_player .titre {
	margin:0;
	text-transform: capitalize;
}

#canut_player .sous-titre {
	margin: 0;
}

/* Style syndic_son*/

li.syndic_son,
.syndic_son {
	/*clear: both;*/
	overflow: hidden;
	margin: 2rem 0;
}

.syndic_son .logo {
	float: left;
	background: #333;
	width: 64px;
	height: 64px;
	margin: 1rem;
	position: relative;

	border-radius: 32px;
	overflow: hidden;
}

.syndic_son .logo img {
	opacity: .6;
}

.syndic_son .titre {
	margin:0;
	margin-top: 1rem;
	text-transform: capitalize;
}

.syndic_son .sous_titre {
	margin: 0;
}


.bouton_play {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	z-index: 1;
}

.playing {
	background: #EEE;
	border-radius: 1rem;
}

.playing .bouton_play {
	display: none;
}

.playing .logo {
	box-shadow: 0 0 0 2pt #000;
}

.playing .logo img {
	opacity: 1;
}

/*
	Surcharge typo
*/

body {
	font-family: 'montserrat',Helvetica,Arial,sans-serif;
	font-size: 1rem;
	line-height: 120%m;
}

h1, .h1, .h1-like,
h2, .h2, .h2-like,
.secondary h1, .secondary .h1, .secondary .h1-like,
.secondary h2, .secondary .h2, .secondary .h2-like
{
	font-family: 'montserrat',Helvetica,Arial,sans-serif;
}

/*
	Surcharges des compositions
	===========================
*/

/* composition emissions */

.composition_emissions .menu.rubriques ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.composition_emissions .menu.rubriques li {
	margin: 0;
	padding: 0;

	display: inline-block;
	width: 180px;
	height: 100px;
	margin: 10px;
	padding: 10px;

	background: #EEE;

	text-align: center;
}